html,
body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: center;
  margin: 0;
}
body,
input {
  color: #4d5156;
}
form {
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr min-content;
}
form > div:first-child {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr 1fr;
  grid-gap: 5px 10px;
  white-space: nowrap;
  align-items: center;
}
table {
  width: 100%;
}
td {
  white-space: nowrap;
}
td:last-child {
  text-align: right;
}
textarea,
input[type=text],
input[type=password] {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}
button,
input[type=button],
input[type=submit] {
  cursor: pointer;
}
select,
button,
input[type=submit],
input[type=button] {
  height: 32px;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
}
select,
button,
textarea,
input {
  border: solid 1px rgba(0, 0, 0, 0.25);
}
button:disabled,
input:disabled {
  opacity: 0.5;
  cursor: default;
}

textarea,
input[type=password] {
  outline: none;
}
textarea {
  min-height: 32px;
  height: 100%;
}
textarea:focus,
input[type=password]:focus {
  background-color: #e4fdff;
}

::placeholder {
  color: #0074cc;
  opacity: 0.5;
}

.submit {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, min-content) 1fr min-content;
  grid-gap: 2px;
  margin-top: 10px;
}
